body{
    background-color: white;
    margin: 0;
    padding: 0;
}

aside{
    margin: auto;
    padding: 0;
    width: 100px;
    background-color: gray;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-radius: 5px;
}
.text {
    margin-top: 500px;
}

.main-sec{
    width: 100%;
}
.main-sec img{
    width: 1000px;
    opacity: 20%;
}
.text{
    width: 100%;
    position: relative;
    margin-top: -30%;
    margin-left: 500px;
}
